
html, body{
    height: 100%;
    width: 100%;
}

body {
	/*text-align: center;*/
	background-color: #floralwhite;
	margin:0px;
	color: #E8FFFD;
	font-family: 'VWHeadlineOTSemibold';
    font-style: normal;
  	font-weight: 300;
  	letter-spacing:0.2px;
  	line-height: 0.7;
	font-size: 7px;
	font-size: 0.7rem;
	color: #E8FFFD!important;
	margin-bottom: -0.2em;
	margin-top: -0.1em;
	text-align: left;
}

p {
	font-family: 'Transat Text Standard', Helvetica, Arial, Sans-Serif;
	-moz-font-feature-settings:'c2sc=0,case=0,dnom=0,frac=0,liga=0,lnum=0,numr=0,onum=0,pnum=0,salt=0,smcp=0,ss01=0,subs=0,sups=0,tnum=0';
	line-height: 1;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
	font-size: 14px;
	font-size: 1.4rem;
	color: #E8FFFD!important;
}

h1{
	font-family: 'VWHeadlineOTBlack';
	-moz-font-feature-settings:'c2sc=0,case=0,dnom=0,frac=0,liga=0,lnum=0,numr=0,onum=0,pnum=0,salt=0,smcp=0,ss01=0,subs=0,sups=0,tnum=0';
	letter-spacing:0.3px;
	font-size: 11px;
	font-size: 1.1rem;
	font-weight: normal;
	color: #E8FFFD!important;
	line-height: 1;
	margin-bottom: 0.2em;
	margin-top: -0.1em;
	text-align: left;
}

h2{
	font-family: 'Transat Text Bold', Helvetica, Arial, Sans-Serif;
	-moz-font-feature-settings:'c2sc=0,case=0,dnom=0,frac=0,liga=0,lnum=0,numr=0,onum=0,pnum=0,salt=0,smcp=0,ss01=0,subs=0,sups=0,tnum=0';
	letter-spacing:-0.7px;
	font-weight: bold;
	font-size: 20px;
	font-size: 2rem;
	color: #E8FFFD!important;
	text-transform:uppercase;
}

h3{
	font-family: 'Transat Text Bold', Helvetica, Arial, Sans-Serif;
	-moz-font-feature-settings:'c2sc=0,case=0,dnom=0,frac=0,liga=0,lnum=0,numr=0,onum=0,pnum=0,salt=0,smcp=0,ss01=0,subs=0,sups=0,tnum=0';
	letter-spacing:-0.7px;
	font-weight: bold;
	font-size: 20px;
	font-size: 2rem;
	color: #E8FFFD!important;
	text-transform:uppercase;
}

h4{
	font-family: 'VWHeadlineOTSemibold';
    font-style: normal;
  	font-weight: 300;
  	letter-spacing:0.2px;
  	line-height: 0.7;
	font-size: 7px;
	font-size: 0.7rem;
	color: #E8FFFD!important;
	margin-bottom: -0.2em;
	margin-top: -0.1em;
	text-align: left;
}

h5{
	font-family: 'VWHeadlineOTSemibold';
    font-style: normal;
  	font-weight: 300;
  	letter-spacing:0.2px;
  	line-height: 1;
	font-size: 10px;
	font-size: 1.0rem;
	color: #E8FFFD!important;
	margin-bottom: -0.3em;
	margin-top: 0.3em;
	text-align: left;
}

.headers{
	font-family: 'VWHeadlineOTSemibold';
    font-style: normal;
  	font-weight: 500;
  	letter-spacing:0.2px;
  	line-height: 1;
	font-size: 15px;
	font-size: 1.5rem;
	color: #E8FFFD!important;
	margin-bottom: -0.3em;
	margin-top: 0.3em;
	text-align: left;
}

a, a:visited {
	font-weight: bold;
	text-shadow: none;
	text-decoration:none;
}



select {
	outline:none;
	border-radius: 5px;
	border-color: #ddd;
}



.fw{
	width:100%;
	height:auto;
}


/*

*/
#right-container{}
.rightcontainer{
	width: 15%;
    float: right;
    display: inline-block;
}

#left-container{}
.leftcontainer{
	float: left;
    display: inline-block;
    width: 82%;
}

.conradius{
	border-radius: 15px;
}

.wrapmargin{
	margin: 5px;
}

.democont{
	min-height: 100px;
	background: #eee;
}


#main-wrapper{}
.mainwrapper{
	margin-left: auto;
	margin-right: auto;
	width:100%;
	max-width: 1280px;
	margin-top: 20px;
}

.storewrapper{
	width: 100%;
	height:auto;
	padding: 0;
	display: inline-block;
}

.reviewwrapper{
	width: 100%;
    height: auto;
    padding: 0;
    display: inline-block;
    margin-bottom: 30px;
    background: #eee;
}

.storecontainer{
	width: 100%;
    display: inline-block;
    background: #eee;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.storeheader{
	width:100%;
	display: inline-block;
	background: #ccc;
}

.storeheaderImage{
	width: 15%;
	display:inline-block;
}

.storeheaderText{
	margin-bottom: 10px;
}

#play-rangeselector{
	margin-top: 15px;
    margin-right: 10px;
}
#itc-rangeselector{
	margin-top: 28px;
    margin-right: 10px;
}
.rangeselector{
	float: right;
}


/* Install Stats */
#install-stats{
	margin-top: 44px;
	margin-bottom: 15px;
}
.installstats{

}
#install-statsheader{}
#install-statscontainer{}
#install-statscontainer-inner{}
#install-ioswrapper{}
#install-ioslabel{}
#install-iosvalue{}
#install-androidwrapper{}
#install-androidlabel{}
#install-androidvalue{}

/* Device Stats */
#active-devices-stats{
	margin-bottom: 15px;
}
.activedevicestats{

}
#active-statsheader{}
#active-statscontainer{}
#active-statscontainer-inner{}
#device-ioswrapper{}
#device-ioslabel{}
#device-iosvalue{}
#device-androidwrapper{}
#device-androidlabel{}
#device-androidvalue{}

/* Session Stats */
#sessions-stats{
	margin-bottom: 15px;
}
.sessionstats{

}
#sessions-statsheader{}
#sessions-statscontainer{}
#sessions-statscontainer-inner{}
#session-ioswrapper{}
#session-ioslabel{}
#session-iosvalue{}
#session-androidwrapper{}
#session-androidlabel{}
#session-androidvalue{}

/* Crash Stats */
#crash-stats{
	margin-bottom: 15px;
}
.crashstats{

}
#crash-statsheader{}
#crash-statscontainer{}
#crash-statscontainer-inner{}
#crash-ioswrapper{}
#crash-ioslabel{}
#crash-iosvalue{}
#crash-androidwrapper{}
#crash-androidlabel{}
#crash-androidvalue{}

/* Units Stats */
#units-stats{
	margin-bottom: 15px;
}
.unitsstats{

}
#units-statsheader{}
#units-statscontainer{}
#units-statscontainer-inner{}
#units-ioswrapper{}
#units-ioslabel{}
#units-iosvalue{}
#units-androidwrapper{}
#units-androidlabel{}
#units-androidvalue{}

/* Review Stats */
#review-stats{
	margin-bottom: 15px;
}
.reviewstats{

}
#review-statsheader{}
#review-statscontainer{}
#review-statscontainer-wrapper{}
#review-ioswrapper{}
#review-ioslabel{}
#review-iosvalue{}
#review-androidwrapper{}
#review-androidlabel{}
#review-androidvalue{}



#pageview-stats{
	margin-bottom: 15px;
}
.pageviewstats{}
#pageview-statsheader{}
#pageview-statscontainer{}
#pageview-statscontainer-inner{}
#pageview-ioswrapper{}
#pageview-ioslabel{}
#pageview-iosvalue{}
#pageview-androidwrapper{}
#pageview-androidlabel{}
#pageview-androidvalue{}

.statspacer{
	margin-bottom: 10px;
}

.rightstatscontainer{
	margin-bottom: 10px;
	color:#000;
	font-size: 110%;
	background: #eee;
}

.rightstatsheader{
	height: 16px;
    color: #000;
    font-size: 130%;
    margin-bottom: 0px;
}

.statscontainerinner{
	padding: 15px;
}

.platformstatswrapper{
	width: 100%;
}

.platformstatslabel{
	width: 30%;
    display: inline-block;
    float: left;
}

.platformstatsvalue{
	text-align: right;
}

#header-container{

}

.header{
	width: 100%;
    height: 85px;
}


#inner-header{

}

.innerheader{
	width: 100%;
}
    

#header-wrapper{

}
.headerwrapper{
	width: 70%;
    height: 60px;
    margin-top: 20px;
    display: inline-block;
}


#header-title{}
.headertitle{
	width: 90%;
    padding-top: 10px;
}


#header-info{}
.headerinfo{
	width: 20%;
    text-align: right;
    display: inline-block;
    float: right;
    top: 50px;
    position: relative;
}


#main-container{}
.maincontainer{

}


#footer{}
.footer-container{

}


#color-dark{}
.colordark{
	background-color: #3277E8;
}

#color-medium{}
.colormedium{
	background-color: #72CCFF;
}

#color-light{}
.colorlight{
	background-color: #9DDEE8;
}

.circle{
	width: 10px;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 4px;
    margin-top: 2px;
}

#bar-description{}
.bardescription{
	width: 20%;
    display: inline;
}

.ct-label {
    fill: rgba(0, 0, 0, .9);
    color: rgba(0, 0, 0, .9);
	font-weight: 200;
	font-size: 12px;
	margin-top: 6px;
}

.ct-chart .ct-label.ct-horizontal {
  text-align: center;
  min-width: 40px;
}

.ct-text-color{
	color:#000!important;
}

.ct-line{
	color:#000!important;
}
/*
.ct-grid.ct-horizontal {
  stroke-width: 0.5;
  stroke-dasharray: 10px 5px;
  stroke:#E8FFFD!important;
}
*/

/*  Dark 	#006B7B  */
/*  Medium 	#259091  */
/*  light 	#34C1C3  */
/*  xlight 	#4BDFE2  */

.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie { fill: #006B7B; }
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie { fill: #259091; }
.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie { fill: #34C1C3; }

.ct-series-a .ct-point, .ct-series-a .ct-slice-donut { stroke: #006B7B; }
.ct-series-b .ct-point, .ct-series-b .ct-slice-donut { stroke: #259091; }
.ct-series-c .ct-point, .ct-series-c .ct-slice-donut { stroke: #34C1C3; }

.ct-area {
    stroke: none;
    fill-opacity: 0.2;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-slice-donut {
    stroke: #006B7B; 
    stroke-width: 1px;
}
.ct-series-a .ct-point{
	stroke: #006B7B; 
	stroke-width: 5px;
    stroke-linecap: round;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-slice-donut {
    stroke: #259091; 
    stroke-width: 1px;
}
.ct-series-b .ct-point{
	stroke: #259091; 
	stroke-width: 5px;
    stroke-linecap: round;
}


.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-slice-donut {
    stroke: #34C1C3; 
    stroke-width: 1px;
}
.ct-series-c .ct-point{
	stroke: #34C1C3; 
	stroke-width: 5px;
    stroke-linecap: round;
}



